@page
@model soft20181_starter.Pages.EventsModel
@{
}

<div class="event-title">
    <h1>Our Events</h1>
</div>

<div class="search-container">
    <i class="fas fa-map-marker-alt"></i>
    <input type="text" id="searchInput" placeholder="Search events..." />
    <!-- Updated button element with an id -->
    <button id="searchButton">Search</button>
</div>

<section class="event-list">
    <div class="event-card">
        <img src="~/images/event1.jpg" alt="Event 1 image">
        <div class="event-info">
            <h2>DJ EXPERIENCE</h2>
            <p><strong>Date:</strong> January 15, 2024</p>
            <p><strong>Location:</strong> London</p>
            <p>Whether you're a beginner or looking to refine your skills, join us for hands-on workshops, expert insights, and a collaborative atmosphere. Discover the secrets behind the decks and unlock your potential in the world of being a DJ.</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event2.jpg" alt="Event 2 image">
        <div class="event-info">
            <h2>BALLET</h2>
            <p><strong>Date:</strong> April 5, 2024</p>
            <p><strong>Location:</strong> Birmingham</p>
            <p>Witness the skill of professional dancers as their superb choreography transports you to a world of emotion and beauty through ballet.</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event3.jpg" alt="Event 3 image">
        <div class="event-info">
            <h2>ART SHOW</h2>
            <p><strong>Date:</strong> May 30, 2024</p>
            <p><strong>Location:</strong> Liverpool</p>
            <p>Explore a gallery filled with intriguing pieces that push the boundaries of artistic expression and intrigue you.</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event4.jpg" alt="Event 4 image">
        <div class="event-info">
            <h2>RUNWAY</h2>
            <p><strong>Date:</strong> February 14, 2024</p>
            <p><strong>Location:</strong> London</p>
            <p>Watch as the runway transforms into a platform for fashion innovation and see the greatest models' exhibiting the newest styles. Take in all of the glamour and intensity of high fashion. Come celebrate the merging of art and style with us through a stunning exhibition.</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event5.jpg" alt="Event 5 image">
        <div class="event-info">
            <h2>KODAK BLACK CONCERT</h2>
            <p><strong>Date:</strong> June 3, 2024</p>
            <p><strong>Location:</strong> Manchester</p>
            <p>One of the most popular rappers of the late 2010s, Florida MC, with influences from the dirty south KODAK BLACK,is coming to Birmingham to play all of your favourite songs, like "Hvn ON EARTH," "eaze your mind," and many more.</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event6.jpg" alt="Event 6 image">
        <div class="event-info">
            <h2>ORCHESTRA</h2>
            <p><strong>Date:</strong> October 18, 2024</p>
            <p><strong>Location:</strong> Nottingham</p>
            <p>Experience a world of classical elegance as great works are brought to life by a gifted group of musicians. Experience the beautiful symphony of brass, winds, and strings, resulting in a mesmerising show that carries a great deal of emotion.</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event7.jpg" alt="Event 7 image">
        <div class="event-info">
            <h2>CHRISTMAS MARKET</h2>
            <p><strong>Date:</strong> December 12, 2024</p>
            <p><strong>Location:</strong> Nottingham</p>
            <p>Come experience our Christmas Market Experience and enter a wintry paradise! Explore a joyous display decked with sparkling lights. Come along on a fantastical adventure where vendors selling savoury foods, handcrafted items, and more helping bring the spirit of Christmas to life. </p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event8.jpg" alt="Event 8 image">
        <div class="event-info">
            <h2>CHINESE NEW YEAR</h2>
            <p><strong>Date:</strong> February 10, 2024</p>
            <p><strong>Location:</strong> Birmingham</p>
            <p>Discover a world with colourful lanterns, dragon dances, and the soothing sounds of traditional drums. This event invites you to celebrate the lunar new year with joy, solidarity, and the dynamic spirit of the Chinese community.</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event9.jpg" alt="Event 9 image">
        <div class="event-info">
            <h2>JAZZ NIGHT</h2>
            <p><strong>Date:</strong> September 02, 2024</p>
            <p><strong>Location:</strong> Liverpool</p>
            <p>Take in the rich history of the genre as great performers perform a mesmerising fusion of swing, blues, and improvisation. Come enjoy an evening that captures the spirit of jazz and allows you to savour the eternal appeal of this very American art form.</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event10.jpg" alt="Event 10 image">
        <div class="event-info">
            <h2>STAND UP COMEDY</h2>
            <p><strong>Date:</strong> October 17, 2024</p>
            <p><strong>Location:</strong> Manchester</p>
            <p>Enjoy a great time of laughter at our stand-up comedy show! Get ready for a laugh-filled, feel-good evening that will make you smile long after the last joke.</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event11.jpg" alt="Event 11 image">
        <div class="event-info">
            <h2>CIRCUS</h2>
            <p><strong>Date:</strong> July 31, 2024</p>
            <p><strong>Location:</strong> Liverpool</p>
            <p>A thrilling ride awaits you at our Circus Spectacle! Get ready for astounding aerial feats, belly-laugh-inducing clown antics, and gravity-defying exploits. Come experience a thrilling edge-of-your-seat event with us under the big tent!</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event12.jpg" alt="Event 12 image">
        <div class="event-info">
            <h2>CRAFT BEER FESTIVAL</h2>
            <p><strong>Date:</strong> August 05, 2024</p>
            <p><strong>Location:</strong> Leeds</p>
            <p>Come appreciate, taste, and rejoice at our Craft Beer Festival! Take in a world of hoppy delights as regional and global breweries feature their handcrafted creations.</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event13.jpg" alt="Event 13 image">
        <div class="event-info">
            <h2>OPERA</h2>
            <p><strong>Date:</strong> October 11, 2024</p>
            <p><strong>Location:</strong> Liverpool</p>
            <p>Come to our event to discover the wonder of opera! Allow the captivating vocals of gifted artists to transport you to a dramatic and emotional realm. Come enjoy a delightful evening of tunes and mesmerising performances that highlight the classic beauty of this age-old art form.</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event14.jpg" alt="Event 14 image">
        <div class="event-info">
            <h2>ROYAL ASCOT</h2>
            <p><strong>Date:</strong> June 19, 2024</p>
            <p><strong>Location:</strong> London</p>
            <p>Discover the beauty and elegance of Royal Ascot, a celebration of fashion and sport that ensures a day of races you won't soon forget.</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event15.jpg" alt="Event 15 image">
        <div class="event-info">
            <h2>ROD WAVE CONCERT</h2>
            <p><strong>Date:</strong> December 15, 2024</p>
            <p><strong>Location:</strong> Birmingham</p>
            <p>Delivering a moving performance of Southern sing-rap songs Rod Wave of Florida is paving his own route to the top of the game. He has been blessed with an exceptional singing voice and an amazing knack for composition. </p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event16.jpg" alt="Event 16 image">
        <div class="event-info">
            <h2>GUNS N ROSES</h2>
            <p><strong>Date:</strong> March 17, 2024</p>
            <p><strong>Location:</strong> Nottingham</p>
            <p>These hard rock icons mixed stadium-level hits like "Welcome to the Jungle" and "Sweetheart Child of Mine" in an occasionally amazing concert.</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event17.jpg" alt="Event 17 image">
        <div class="event-info">
            <h2>WAREHOUSE PROJECT</h2>
            <p><strong>Date:</strong> July 27, 2024</p>
            <p><strong>Location:</strong> Manchester</p>
            <p>Enter an industrial haven that has been turned into a musical extravaganza where the air is filled with cutting-edge electronic noises.An unique evening including cutting-edge visuals, world-class DJs, and a buzzing atmosphere that perfectly captures the spirit of Manchester's underground music culture.</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event18.jpg" alt="Event 18 image">
        <div class="event-info">
            <h2>ST DAVID'S DAY</h2>
            <p><strong>Date:</strong> March 01, 2024</p>
            <p><strong>Location:</strong> Leeds</p>
            <p>Come celebrate St David's Day and the spirit of Wales! Come enjoy a day full of colourful celebrations, traditional music, and Wales' rich cultural legacy. </p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event19.jpg" alt="Event 19 image">
        <div class="event-info">
            <h2>EASTER EGG HUNT</h2>
            <p><strong>Date:</strong> March 31, 2024</p>
            <p><strong>Location:</strong> Leeds</p>
            <p>Bring the whole family along for an exciting treasure hunt filled with surprises, fun, and laughter. Perfect for all ages!</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event20.jpg" alt="Event 20 image">
        <div class="event-info">
            <h2>SUMMER WALKER</h2>
            <p><strong>Date:</strong> April 13, 2024</p>
            <p><strong>Location:</strong> Manchester</p>
            <p>Immerse yourself with Summer Walker's sensual live music! Come enjoy a private evening where her R&B charm will be the main attraction. Open your soul to the music..</p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event21.jpg" alt="Event 21 image">
        <div class="event-info">
            <h2>LEEDSFEST</h2>
            <p><strong>Date:</strong> August 04, 2024</p>
            <p><strong>Location:</strong> Leeds</p>
            <p>Leeds Fest is the biggest music event of the year in Leeds, so get ready! Experience a unique festival atmosphere by exploring new music, and connecting with the lively audience. </p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event22.jpg" alt="Event 22 image">
        <div class="event-info">
            <h2>FIREWORK SHOW</h2>
            <p><strong>Date:</strong> November 15, 2024</p>
            <p><strong>Location:</strong> Birmingham</p>
            <p>At our firework performances, the sky is transformed into a canvas painted with flashes of colour and light. Bring your loved ones along to enjoy a magical evening beneath the sky as we celebrate the wonder and magic of our Firework Spectacular. </p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event23.jpg" alt="Event 23 image">
        <div class="event-info">
            <h2>BINGO NIGHT</h2>
            <p><strong>Date:</strong> November 26, 2024</p>
            <p><strong>Location:</strong> Nottingham</p>
            <p>A night of numbers, fortune, and excitement awaits you at our bingo.  Experience the excitement as we reveal the numbers as you walk towards victory.Now is the time to yell "BINGO"! </p>
        </div>
    </div>

    <div class="event-card">
        <img src="~/images/event24.jpg" alt="Event 24 image">
        <div class="event-info">
            <h2>PETER PAN GOES WRONG</h2>
            <p><strong>Date:</strong> January 28, 2024</p>
            <p><strong>Location:</strong> London</p>
            <p>It's Peter Pan like you've never seen before - chaotic, comical, and completely captivating!</p>
        </div>
    </div>
</section>

