@page
@model soft20181_starter.Pages.Index1Model
@{
}

<div class="location-title">
    <h1>Our <span class="red-text">Locations</span>:</h1>
    <p>Unleashing unforgettable vibes and epic events across 6 UK cities!</p>
    <p>Unforgettable energy and events.</p>
    <p>Iconic moments in the making!</p>
</div>

<div class="locations-image">
    <div class="image-row image-row1">
        <h5>LONDON</h5>
    </div>
    <div class="image-row image-row2">
        <h5>BIRMINGHAM</h5>
    </div>
    <div class="image-row image-row3">
        <h5>LIVERPOOL</h5>
    </div>
    <div class="image-row image-row4">
        <h5>NOTTINGHAM</h5>
    </div>
    <div class="image-row image-row5">
        <h5>MANCHESTER</h5>
    </div>
    <div class="image-row image-row6">
        <h5>LEEDS</h5>
    </div>
</div>

<div class="coming-soon">
    <h1>Coming Soon...</h1>
</div>

<div class="locations-image2">
    <div class="image-row2 image-row2-1">
        <h5>SOUTHAMPTON</h5>
    </div>
    <div class="image-row2 image-row2-2">
        <h5>EDINBURGH</h5>
    </div>
    <div class="image-row2 image-row2-3">
        <h5>BRISTOL</h5>
    </div>
    </div>

    <div class="location-end">
        <p>At the forefront of creating unmatched cultural experiences, EventXplorer is pleased to present a wide range of events</p>
        <p>in six renowned UK locations. Our dedication to promoting community involvement is strong as we get ready to expand to three</p>
        <p>more areas.</p>
        <p>Is your city in one of our locations? if not feel free to contact us and we will add YOUR city to our list.</p>
    </div>
